.Editor {
    display: flex;
    gap: 10px;
}

.Editor > input {
    padding: 15px;
    border: 1px solid rgb(220,220,220);
    border-radius: 5px;
    flex: 1;
}

.Editor > button {
    width: 80px;
    background-color: rgb(37,147,255);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}